.popularitySlider {
  display: flex;
  align-items: center;
}

.sliderContainer {
  position: relative;
  width: 100px; /* Adjusted width to fit 5 circles */
  margin: 0 4px;
}

.maskLayer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.filledCircle {
  height: 16px;
  width: 16px;
  border: 2px solid #90caf9;
  border-radius: 50%;
  background-color: #90caf9;
}

.outlinedCircle {
  height: 16px;
  width: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  background-color: transparent;
}
