.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.combined-name {
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
}

.styled-text-field {
  width: 100px;
  margin-right: 10px;
}

.sentence-text {
  font-size: 1.5em;
  margin: 0 10px;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}
