.candidateCard {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.leftSection {
  width: 72px;
  height: 100%;
  position: relative;
}

.avatarWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.candidatePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSection {
  padding: 16px;
  flex: 1;
}

.candidateName {
  font-weight: bold;
  margin-bottom: 4px;
}

.partyColor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.partyName {
  font-weight: bold;
}

.reloadIcon {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.2s linear;
}

.avatarWrapper:hover .avatarReloadIconBox .reloadIcon,
.nameContainer:hover .nameReloadIconBox .reloadIcon {
  visibility: visible;
  opacity: 1;
}

.avatarReloadIconBox {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.nameReloadIconBox {
  z-index: 1;
}

.nameWrapper {
  position: relative;
}

.nameContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.popularityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popularityContainer .MuiTypography-subtitle2 {
  margin-right: 8px;
}
