.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.combinedName {
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
}

.styledTextField {
  width: 100px;
  margin-right: 10px;
}

.sentenceText {
  font-size: 1.5em;
  margin: 0 10px;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}
